/* CSS Document */

body {
	background: #111;
	color: #ffffff;
	font-size: 14px; 
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	/*background-image: url('../images/iphone_imgs_3/iphone_bg_black.jpg');*/
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
}

#image_target_1 {
	margin: 30px;
	width: 200px;
	height: 200px;
	border: solid 1px #333333;
	background-color: #00ff00;
}
#image_target_2 {
	margin: 30px;
	width: 300px;
	height: 200px;
	border: solid 1px #333333;
	background-color: #00ff00;
}
#image_target_3 {
	margin: 30px;
	width: 60px;
	height: 100px;
	border: solid 1px #333333;
	background-color: #00ff00;
}
#image_target_4 {
	margin: 30px;
	width: 60px;
	height: 100px;
	border: solid 1px #333333;
	background-color: #00ff00;
}
#image_target_5 {
	margin: 30px;
	width: 60px;
	height: 100px;
	border: solid 1px #333333;
	background-color: #00ff00;
}







